<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test Suite">
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="/Users/jemal/Documents/Projects/selenium-allure-jenkins/selenium_allure_jenkins">
        <classes>
            <class name="tests.TestBaseClass"/>
            <class name="tests.TestLoginPage"/>
        </classes>
    </test>
</suite>